<%- include("bin/header"); %>
	<div class="caixa-news">

		<div class="img-post">
			<img src="<%= content[0].img %>" alt="<%= content[0].alt %>" class="responsive-img">
		</div>

		<div class="titleANDsubtitle">
			<h1><%= content[0].title %></h1>
			<h2><%= content[0].subtitle %></h2>
		</div>

		<div class="contentPost">
			<%- content[0].text %>
		</div>

	</div>
<%- include("bin/footer"); %>